.soc-buttons
  position: absolute
  right: 70px
  bottom: 35px
.soc-buttons__button
  width: 54px
  height: 54px
  background-color: #151515
  display: flex
  place-content: center
  place-items: center
  border-radius: 50%
  margin-bottom: 28px
.soc-buttons__button_light
  background-color: #fff
